<h2>Log In</h2>

<% roundedbox :class => 'green', :id => 'login-page' do -%>
  <% form_tag session_path do -%>
    <p>
      <%= label_tag 'login' %>
      <br />
      <%= text_field_tag 'login', @login %>
    </p>

    <br class="clear" />

    <p>
      <%= label_tag 'password' %>
      <br/>
      <%= password_field_tag 'password', nil %>
    </p>

    <br class="clear" />

    <p>
      <%= label_tag 'remember_me', 'Remember me' %>
      <%= check_box_tag 'remember_me', '1', @remember_me %>
    </p>

    <br class="clear" />

    <p><%= submit_tag 'Log in' %></p>

    <br class="clear" />

  <% end -%>
<% end -%>
