<% table :id => 'admins' do %>
  <thead>
    <tr class="table-top">
      <th><%= sort_link 'Login', 'login' %></th>
      <th><%= sort_link 'Real Name', 'last_name, first_name' %></th>
      <th><%= sort_link 'Superadmin', 'superadmin' %></th>
      <th><%= sort_link 'Last Updated', 'updated_at DESC', :default => true %></th>
    </tr>
  </thead>
  <tbody>
    <% @admins.each do |admin| -%>
      <% content_tag_for(:tr, admin, :class => cycle(:odd, :even)) do %>
        <td><%= admin.login %></td>
        <td><%= admin.name %></td>
        <td><%= admin.superadmin?.humanize %></td>
        <td><%= display_time admin.updated_at %></td>
      <% end %>
    <% end %>
  </tbody>
<% end %>
