<% table :id => 'admins' do %>
  <thead>
    <tr class="table-top">
      <% if AdminsController === @controller %>
        <th class="login"><%= sort_link 'Login', 'login' %></th>
        <th class="real-name"><%= sort_link 'Real Name', 'last_name, first_name' %></th>
        <th class="superadmin"><%= sort_link 'Superadmin', 'superadmin' %></th>
        <th class="last-updated"><%= sort_link 'Last Updated', 'updated_at DESC', :default => true %></th>
      <% else %>
        <th class="login">Login</th>
        <th class="real-name">Real Name</th>
        <th class="superadmin">Superadmin</th>
        <th class="last-updated">Last Updated</th>
      <% end %>
        <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @admins.each do |admin| -%>
      <% content_tag_for(:tr, admin, :class => cycle(:odd, :even)) do %>
        <td><%= admin.login %></td>
        <td><%= admin.name %></td>
        <td><%= admin.superadmin?.humanize %></td>
        <td><%= display_time admin.updated_at %></td>
        <td class="actions">
          <%= link_to 'Edit', edit_admin_path(admin) %>
          <%= link_to 'Delete', delete_admin_path(admin) %>
        </td>
      <% end %>
    <% end %>
  </tbody>
<% end %>
