<% table :id => 'terminals' do %>
  <thead>
    <tr class="table-top">
      <% if TerminalsController === @controller %>
        <th class="name"><%= sort_link 'Name', 'name' %></th>
        <th class="description"><%= sort_link 'Description', 'description' %></th>
        <th class="college"><%= sort_link 'College', 'college' %></th>
        <th class="ip-address"><%= sort_link 'IP Address', 'ip_address' %></th>
        <th class="last-updated"><%= sort_link 'Last Updated', 'updated_at DESC', :default => true %></th>
      <% else %>
        <th class="name">Name</th>
        <th class="description">Description</th>
        <th class="college">College</th>
        <th class="ip-address">IP Address</th>
        <th class="last-updated">Last Updated</th>
      <% end %>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @terminals.each do |terminal| -%>
      <% content_tag_for(:tr, terminal, :class => cycle(:odd, :even)) do %>
        <td><%= terminal.name %></td>
        <td><%= terminal.description %></td>
        <td><%= terminal.college %></td>
        <td><%= terminal.ip_address %></td>
        <td><%= display_time terminal.updated_at %></td>
        <td class="actions">
          <%= link_to 'Edit', edit_terminal_path(terminal) %>
          <%= link_to 'Delete', delete_terminal_path(terminal) %>
        </td>
      <% end %>
    <% end %>
  </tbody>
<% end %>